
:root {
    --first-brown: #3b2a18;
    --second-brown: #766440;
    --orange: #bd701e;
    --green: #a0af14;
    --light-pink: #f5efd9;
}
          
body {
    font-family: Arial, Helvetica, sans-serif;    
    color: #3b2a18;
}
h1,h2,h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* **************************************************** */
/* For the navigation section */
nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    
}

#brandName {
    width: 15vw;
    margin-left: 0;
}

#navContacts {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 40vw;
}

#navLinks {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 30vw;
}

nav a {
    text-decoration: none;
    padding: 1rem;
    color: #3b2a18;
    font-weight: bold;
}

#navContacts .fab {
    font-size: 2em;
}
/* **************************************************** */

#portfolio {
    display: flex;
    flex-flow: column nowrap;
}

.projects {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin: 3vh 0;
}
.projectImage {
    max-width: 40vw;
    border: 1px solid #3b2a18;
}
.projectDetail {
    max-width: 30vw;
    text-align: justify;
}
.projectButtons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
button {
    margin: 1em;
}
/* **************************************************** */
#biography {
    line-height: 1.5em;
}

/* **************************************************** */
#about {
  margin: 5vh 0;
}
#bio {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
#bioText {
    text-align:justify;
    max-width: 45vw;
    line-height: 1.5em;
}
#avatarImage {
    max-width: 25vw;
    border-radius: 5%;
}

@media only screen and (max-width: 768px) {
    nav {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
    }
    #navContacts {
        width: 80vw;
    }
    
    #navLinks {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        width: 50vw;
    }
    .projects {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        margin: 1%;
    }
    .projectImage {
        max-width: 100vw;

    }
    .projectDetail {
        max-width: 100vw;
    }
    #bio {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        margin: 1%;
    }
    #bioText {
        text-align:justify;
        max-width: 80vw;
    }
    #avatarImage {
        max-width: 40vw;
        border-radius: 5%;
    }
}